@import '_vars.scss';

.featured {
  position: relative;

  .col71 {
    @include desktop {
      width: 71%;
    }
  }

  .col29 {
    @include desktop {
      width: 29%;
    }
  }

  .article2 {
    border-top: 1px solid $light;

    .title {
      font-size: 17px;
      line-height: 20px;
    }

    .cover {
      width: 135px;

      img {
        width: 100%;
      }

      @include mobile {
        width: 258px;
      }
    }
  }

  .list {
    .list-title {
      color: $gray;
      font-size: 16px;
      font-weight: bold;
    }

    article {
      clear: both;

      .cover {
        position: relative;

        .category {
          display: block;
          font-size: 17px;
          font-weight: bold;
          color: $primary;
          text-transform: uppercase;
          padding: 8px 15px 9px;
          background-color: rgba(255, 255, 255, 0.9);
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
        }

        @include desktop {
          height: 150px;
        }
      }

      h3 {
        font-size: 24px;
        line-height: 24px;
      }

      .related {
        li {
          border-top: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          padding: 10px 0;

          .relatedLink {
            color: $black;
            font-weight: bold;
            font-size: 17px;
            line-height: 20px;
          }
        }
      }
    }
  }

  .culture-travel {
    background: #f4f5f7;

    .list-title {
      padding: 10px;
    }

    .row {
      margin: auto -15px;

      article {
        .title {
          color: #272727;
          font-size: 20px;
          line-height: 22px;
          margin-bottom: 10px;
        }

        picture {
          position: relative;
          display: block;

          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            vertical-align: middle;
            height: auto;
          }

          @include desktop {
            height: 162px;
          }
        }
      }
    }
  }

  .list.opinions {
    ul {
      li {
        border-top: 1px solid #ddd;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      li:first-child {
        border-top: none;
      }
    }

    .info {
      .title {
        font-size: 15px;
        line-height: 21px;
        font-weight: 700;
        display: block;
      }

      .author {
        font-weight: bold;
        color: $gray;
        font-size: 13px;
      }
    }
  }

  .newsletter-sm-box {
    font-size: 19px;
    line-height: 19px;
    font-weight: 700;
    max-width: 300px;
    margin: 0 auto 30px;
    background: #f4f5f7;
    border: 1px solid #e5e5e5;

    .btn {
      background: #666;
    }

    .link2 {
      font-size: 15px;
    }
  }

  .list.latest-news {
    position: relative;

    .link2 {
      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
    }
  }
}

.featured::after {
  content: " ";
  clear: both;
  display: table;
}
