@import 'vars.scss';

footer {
  .footer-logo {
    svg {
      display: block;
      width: 236px;
      height: 36px;
      fill: $primary;
    }
  }

  .copyright {
    font-size: 12px;
  }

  .footer-bottom {
    ul {
      li {
        @include desktop {
          border-right: 1px solid $light;
        }
      }
    }
  }
}
