@import 'vars.scss';

header {
  max-width: 1310px;
  margin: auto;
  background: #fff;
  border-bottom: 1px solid #f4f5f6;
  position: relative;
  z-index: 999990;

  @media screen and (max-width: $tablet) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0;
  }

  .nav-top {
    padding: 10px;
    background: $primary;
    display: none;

    @include desktop {
      display: flex;
    }

    .navbar-brand {
      .logo {
        height: 60px;
      }
    }

    @media screen and (max-width: $desktop) {
      .authsection {
        position: absolute;
        display: inline;
        z-index: 5;
      }
    }
  }

  .navbar {
    padding: 0;
    height: 50px;
    background: $primary;
    position: relative;

    @media screen and (max-width: $desktop) {
      padding: 0 15px;
      justify-content: space-between;

      .authsection {
        margin-left: auto;
      }
    }

    .subscribe-btn {
      color: #fff;
    }

    .sub-button {
      font-size: 18px;
      font-weight: 700;
      vertical-align: middle;
    }

    @include desktop {
      background: #fff;
      padding-right: 160px;

      .navbar-brand {
        display: none;
      }

      .collapse {
        display: block !important;
      }
    }

    .nav-item {
      flex-grow: 1;
      text-align: center;
      border-left: 1px solid #d9d9d9;
    }

    .nav-item:first-child {
      border-left: 0;
    }

    .nav-link {
      font-size: 18px;
      line-height: 18px;
      font-weight: bold;
      padding: 0;

      @include large {
        font-size: 21px;
        line-height: 24px;
      }

      @include desktop {
        .icon {
          display: none;
        }
      }
    }

    .logo-sm {
      height: 15px;

      @include desktop {
        display: none;
      }
    }

    .seach-form {
      @include desktop {
        position: absolute;
        right: 60px;
        top: 0;
        height: 50px;
        width: 110px;
        margin-left: 160px;
        background: $light;

        .form-inline {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .form-control {
            width: 60px;
            display: block;
            flex: 1;
            height: 50px;
            margin: 0;
            border: 0;
          }

          .btn {
            height: 50px;
            width: 30px;
            background: #fff;
            color: #333;
            padding: 0;
            border: 0;
          }
        }
      }
    }

    .seach-form:focus-within {
      @include desktop {
        width: 95%;
        margin-left: 50px;
      }
    }
  }

  .hdr-top {
    background: red;
  }

  .collapse {
    @media screen and (max-width: $desktop) {
      position: fixed;
      right: 0;
      top: 50px;
      bottom: 0;
      background: #fff;
      z-index: 1;
      width: 220px;
      box-shadow: -15px 0 10px rgba(0, 0, 0, 0.1);

      .navbar-nav {
        flex-direction: column;
        padding-top: 5px;

        .form-inline {
          width: 100%;

          .form-control {
            width: 170px;
          }
        }

        .nav-item {
          padding: 5px 15px;
          border: 0;
          text-align: left;

          .nav-link {
            font-size: 21px;
            line-height: 24px;
            font-weight: bold;
            color: #000;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }

        .nav-item:hover {
          background: #000;

          .nav-link {
            color: #fff;
          }
        }
      }
    }
  }

  .collapse.hide {
    @media screen and (max-width: $desktop) {
      animation-name: slideOutRight;
    }
  }

  .collapse.show {
    @media screen and (max-width: $desktop) {
      animation-name: slideInRight;
    }
  }
}
