@import 'animate.scss';
.animated.ng-enter,.animated.ng-leave{
    -moz-animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s;
    -o-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    animation-duration: 0.1s;
    
}
.modalAnimation.ng-enter{
    animation-name: slideInUp;
    
}
.modalAnimation.ng-leave{
    animation-name: slideOutDown;
    animation-name: zoomOut;
}

.fadeinout.ng-enter{
    animation-name: fadeIn;
}
.fadeinout.ng-leave{
    animation-name: fadeOut;
}
.fadeInDow.ng-enter{
    animation-name: fadeInDown;
}
.fadeInDow.ng-leave{
    animation-name: fadeOutUp;
}

.fadeiup.ng-enter{
    animation-name: fadeInUp;
}
.fadeiup.ng-leave{
    animation-name: fadeOutDown;
}

.navAnimation.ng-enter{
    animation-name: slideInRight;
}
.navAnimation.ng-leave{
    animation-name: slideOutLeft;
}
.navBackAnimation.ng-enter{
    animation-name: slideInLeft;
}
.navBackAnimation.ng-leave{
    animation-name: slideOutRight;
}
.slideInOutLeft.ng-enter{
    animation-name: slideInLeft;
}
.slideInOutLeft.ng-leave{
    animation-name: slideOutLeft;
}
.slideInOutRight.ng-enter{
    animation-name: slideInRight;
}
.slideInOutRight.ng-leave{
    animation-name: slideOutRight;
}