@import 'vars.scss';
.link1{
    color:$black;
}
.link1:hover{
    color:$black;
    text-decoration: underline;
    text-decoration-color: $primary;
}
.link2{
    color:$black;
}
.link2:hover{
    color:$primary;
    text-decoration: none;
  
}
.text-primary2{
    color: $primary;
}
.image{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    img{
        position: absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        width: 100%;
        height: 100%;
    }
}
.image.is-1by1{
    padding-top:100%;
}
.text-24{
    font-size:24px;
    line-height: 24px;
}
.text-22{
    font-size:22px;
    line-height: 22px;
}
.text-17{
    font-size:17px;
    line-height: 17px;
}