header {
  max-width: 1310px;
  margin: auto;
  background: #fff;
  border-bottom: 1px solid #f4f5f6;
  position: relative;
  z-index: 999990;
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0;
  }
}

header .nav-top {
  padding: 10px;
  background: #f72210;
  display: none;
}

@media (min-width: 992px) {
  header .nav-top {
    display: flex;
  }
}

header .nav-top .navbar-brand .logo {
  height: 60px;
}

@media screen and (max-width: 992px) {
  header .nav-top .authsection {
    position: absolute;
    display: inline;
    z-index: 5;
  }
}

header .navbar {
  padding: 0;
  height: 50px;
  background: #f72210;
  position: relative;
}

@media screen and (max-width: 992px) {
  header .navbar {
    padding: 0 15px;
    justify-content: space-between;
  }

  header .navbar .authsection {
    margin-left: auto;
  }
}

header .navbar .subscribe-btn {
  color: #fff;
}

header .navbar .sub-button {
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
}

@media (min-width: 992px) {
  header .navbar {
    background: #fff;
    padding-right: 160px;
  }

  header .navbar .navbar-brand {
    display: none;
  }

  header .navbar .collapse {
    display: block !important;
  }
}

header .navbar .nav-item {
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

header .navbar .nav-item:first-child {
  border-left: 0;
}

header .navbar .nav-link {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  padding: 0;
}

@media (min-width: 1200px) {
  header .navbar .nav-link {
    font-size: 21px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  header .navbar .nav-link .icon {
    display: none;
  }
}

header .navbar .logo-sm {
  height: 15px;
}

@media (min-width: 992px) {
  header .navbar .logo-sm {
    display: none;
  }
}

@media (min-width: 992px) {
  header .navbar .seach-form {
    position: absolute;
    right: 60px;
    top: 0;
    height: 50px;
    width: 110px;
    margin-left: 160px;
    background: #ddd;
  }

  header .navbar .seach-form .form-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .navbar .seach-form .form-inline .form-control {
    width: 60px;
    display: block;
    flex: 1;
    height: 50px;
    margin: 0;
    border: 0;
  }

  header .navbar .seach-form .form-inline .btn {
    height: 50px;
    width: 30px;
    background: #fff;
    color: #333;
    padding: 0;
    border: 0;
  }
}

@media (min-width: 992px) {
  header .navbar .seach-form:focus-within {
    width: 95%;
    margin-left: 50px;
  }
}

header .hdr-top {
  background: red;
}

@media screen and (max-width: 992px) {
  header .collapse {
    position: fixed;
    right: 0;
    top: 50px;
    bottom: 0;
    background: #fff;
    z-index: 1;
    width: 220px;
    box-shadow: -15px 0 10px rgba(0, 0, 0, 0.1);
  }

  header .collapse .navbar-nav {
    flex-direction: column;
    padding-top: 5px;
  }

  header .collapse .navbar-nav .form-inline {
    width: 100%;
  }

  header .collapse .navbar-nav .form-inline .form-control {
    width: 170px;
  }

  header .collapse .navbar-nav .nav-item {
    padding: 5px 15px;
    border: 0;
    text-align: left;
  }

  header .collapse .navbar-nav .nav-item .nav-link {
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .collapse .navbar-nav .nav-item:hover {
    background: #000;
  }

  header .collapse .navbar-nav .nav-item:hover .nav-link {
    color: #fff;
  }
}

@media screen and (max-width: 992px) {
  header .collapse.hide {
    animation-name: slideOutRight;
  }
}

@media screen and (max-width: 992px) {
  header .collapse.show {
    animation-name: slideInRight;
  }
}
